@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;

  font-family: "Roboto", sans-serif;
}

body {
  background: #202124;
}

.App {
  margin: 1rem;
}

.topbar {
  display: flex;
  align-items: center;
  align-self: center;

  box-shadow: 5px 10px 8px #2b2a2a;
}

.app-logo {
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
  flex: 20%;
}

.search-field {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 30rem;
  font-size: 1rem;
  border-bottom: none;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #202124;
  align-items: center;
  outline: none;
  flex: 40%;
}

.line {
  /* width: 2rem;
  height: 3rem;
  color: aliceblue; */
}

/* .background-white {
  background: red;
}

.background-dark {
  background-color: #202124;
} */

.search-icon {
  margin-right: 2rem;
  cursor: pointer;
}

.note-list-selector {
  cursor: pointer;
  flex: 2%;
}

.moon {
  color: #202124;
  flex: 2%;
}

.bars {
  flex: 5%;
}

.notes {
  margin-top: 3rem;
  text-align: center;
}

form {
  font-size: 1rem;

  align-items: center;
  outline: none;
  color: whitesmoke;
  border-radius: 0.5rem;
}

.notes-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.144);
  padding: 0.7rem 1rem;
  outline: none;
  color: whitesmoke;
  resize: none;
}

form textarea {
  width: 100%;
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.144);
  padding: 0.7rem 1rem;
  outline: none;
  font-size: 1rem;
  border: none;
  height: 100%;
}

.notelist {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.note-item {
  margin-top: 1rem;
  border-radius: 0.5rem;
  color: white;
  background: #202124;
}

.add {
  font-size: 1.3rem;
  color: whitesmoke;
}

.del {
  font-size: 1.3rem;
  margin-left: 7rem;
}

@media screen and (max-width: 625px) {
  .app-logo {
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    flex: 5%;
  }

  .search-field {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    font-size: 1rem;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #202124;
    align-items: center;
    outline: none;
    flex: 40%;
  }

  .search-icon {
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .note-list-selector {
    display: none;
  }
  .notelist {
    display: flex;
    flex-direction: column;
  }

  .note-item {
    border-radius: 0.5rem;
    background: #202124;
  }
}

.testtest {
  color: white;
}
